body {
	font-family: sans-serif;
	text-align: center;
}

h1 {
	font-weight:lighter;
}

a {
	color:black;
}

a:visited {
	color:darkgrey;
}

#screen {
	height:500px;
}

#place-invaders {
	display: block;
	margin:2em auto;
	border: 1px solid black;
}

#fps-wrapper {
	position:relative;
	top: -530px;
	right: -240px;
}

code {
	border: 1px solid black;
	padding: 3px;
	margin: -3px;
}

#footer {
	position:relative;
	bottom:5px;
	font-size:.7em;
}